<nav class="navbar navbar-expand-lg navbar-light bg-dark  p-3">
  <a class="navbar-brand font-weight-bold ml-3 text-center text-white">
    <i class="bi bi-person-fill d-block"></i>
    <span class="h5">{{currentUserName}} </span>
  </a>
  
  <div class="collapse navbar-collapse " id="navbarNav">
    <ul class="navbar-nav ml-auto mr-5">
      <li class="nav-item mr-3 pt-1">
        <button class="btn btn-danger btn-lg" (click)="onLogoutBtn()">Logout</button>
      </li>
    </ul>
  </div>
</nav>